<div class="jumbotron animated fadeInUpBig">
  <h1 class="display-4 color-indian-red">Notes App with Nodejs and Mongodb</h1>
  <p class="lead color-light-coral">A simple application to manage the notes developed with Nodejs, Express, Mongodb and Javascript technologies</p>
  {{!-- <hr class="my-4"> --}}
  {{!-- <img class="mx-auto d-block  camion m-4" src="/img/camion.png" alt="Camion"> --}}
  
</div>
