<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fas fa-home fa-lg"></i> Home <span class="sr-only">(current)</span></a>
          </li>
         
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-sticky-note fa-lg"></i> Notas 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/notes"><i class="fas fa-book-open"></i> All notes</a>
              <a class="dropdown-item" href="/notes/add"><i class="fas fa-plus-circle fa-lg"></i> Add a note</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt fa-lg"></i> Log out</a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin"><i class="fas fa-sign-in-alt fa-lg"></i> Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup"><i class="fas fa-user-plus fa-lg"></i> Sign Up</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
